.buttonSelected {
    -fx-border-color: #3da812;
    -fx-border-width: 2;
}

.boardButton{
    -fx-padding: 2;
    -fx-min-height: 25;
    -fx-min-width: 25;
}

.boardBlockLabel{
    -fx-text-fill: #000000;
    -fx-font-size: 14;
}

.dataLabel{
    -fx-text-fill: #000000;
    -fx-font-size: 14;
}

#perfectBlock {
    -fx-text-fill: #ff2020;
    -fx-font-weight: bold;
}

#incompleteBlock {
    -fx-text-fill: #000000;
}

#undefCell {
    -fx-background-color: #b6b6b6;
}

#clearedCell {
    -fx-background-color: #ffffff;
}

#blackedCell {
    -fx-background-color: #000000;
}