H1{
    padding-top: 20px;
    color: #0d8bc6;
    display: inline-block;
}
H3{
    padding-top: 16px;
    color: #0d8bc6;
    margin-right: 20px;
}
.btn-danger{
    float: right;
    margin-top: 45px;
    margin-right: 40px;
}
.label-info{
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
}
.label-default{
    font-size: 14px;
}

.TurnAndMoveButtons > button{
    background: #b2dba1;
}

.TurnAndMoveButtons > button:focus{
    background: #b2dba1;
}

.TurnAndMoveButtons > button:hover{
    background: #b2dba1;
}

.TurnAndMoveButtons > button:disabled{
    background: #b2dba1;
}
.UndoRedoButtons{
    margin-bottom: 10px;
}

.UndoRedoButtons > button{
    background: #f7ecb5;
}

.UndoRedoButtons > button:focus{
    background: #f7ecb5;
}

.UndoRedoButtons > button:hover{
    background: #f7ecb5;
}

.UndoRedoButtons > button:disabled{
    background: #f7ecb5;
}

table{
margin-top: 30px;
}

.btn-group{
    margin-bottom: 20px;
}

.diffColor{
    background: orange;
}
#GameBoardArea > button{
    display: inline-block;
    height: 10px;
    width: 10px;
}

.BoardRow{
    margin-bottom: 1px;
}

.BoardCol {
    margin-bottom: 1px;
    display: inline-block;
    column-fill: auto;
    float: left;
}

.gridSquare{
    display: inline-block;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-right: 1px;
}

.gridSquare2{
    margin-bottom: 1px;
    margin-top: 1px;
    margin-right: 1px;
}

.BoardButton{
    height: 25px;
    width: 25px;
    padding: 4px;
}

.buttonSelected{
    border: 4px #3da812;
}

.incompleteBlock{
    height: 25px;
    width: 25px;
    padding: 4px;
}

.Undefined{
}