H1{
    padding-top: 20px;
    color: #0d8bc6;
    display: inline-block;
}
H3{
    padding-top: 16px;
    color: #0d8bc6;
    display: inline-block;
    margin-right: 20px;
}

#LobbyTables{
    margin-top: 20px;
}
#OnlinePlayersTableArea{
    /*padding-top: 20px;*/
}
.btn-danger{
    float: right;
    margin-top: 45px;
    margin-right: 40px;
}
#joinButtonArea{
    margin-top: 20px;
}
#CreateNewGameArea{
    margin-top: 30px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: lightgray;
    cursor: inherit;
    display: block;
}

.errorMsg{
    font-size: 14px;
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.diffColor{
    background-color: orange;
}

#GameRoomsTableBody > tr:hover{
    background-color: orange;
}
